U291cmNlOiBmbGF0LXJlbWl4LWdub21lClNlY3Rpb246IG1pc2MKUHJpb3JpdHk6IG9wdGlvbmFs
Ck1haW50YWluZXI6IERhbmllbCBSdWl6IGRlIEFsZWdyw61hIDxkYW5pZWxAZHJhc2l0ZS5jb20+
CkJ1aWxkLURlcGVuZHM6IGRlYmhlbHBlciAoPj0gOSkKSG9tZXBhZ2U6IGh0dHBzOi8vZHJhc2l0
ZS5jb20vZmxhdC1yZW1peC1nbm9tZQoKUGFja2FnZTogZmxhdC1yZW1peC1nbm9tZQpBcmNoaXRl
Y3R1cmU6IGFueQpEZXNjcmlwdGlvbjogRmxhdCBSZW1peCBnbm9tZS1zaGVsbCB0aGVtZQogRmxh
dCBSZW1peCBHTk9NRSB0aGVtZSBpcyBhIHByZXR0eSBzaW1wbGUgc2hlbGwgdGhlbWUgaW5zcGly
ZWQgb24gbWF0ZXJpYWwgZGVzaWduIGZvbGxvd2luZyBhIG1vZGVybiBkZXNpZ24gdXNpbmcgImZs
YXQiIGNvbG9ycyB3aXRoIGhpZ2ggY29udHJhc3RzIGFuZCBzaGFycCBib3JkZXJzLgogLgogVGhl
bWVzOgogIOKAoiBGbGF0IFJlbWl4CiAg4oCiIEZsYXQgUmVtaXggRGFyawogIOKAoiBGbGF0IFJl
bWl4IERhcmtlc3QKICDigKIgRmxhdCBSZW1peCBNaWFtaQogIOKAoiBGbGF0IFJlbWl4IE1pYW1p
IERhcmsKIC4KIFZhcmlhbnRzOgogIOKAoiBGdWxsIFBhbmVsOiBObyB0b3BiYXIgc3BhY2luZwo=
